@media all and (min-width:1920px) {

    #wrap {
        width: 100%;
        height: auto;
        /*background-color: lightgray;*/
        float: left;
    }

    #bookmark {
        width: 100%;
        position: fixed;
        z-index: 9;
    }

    .mark {
        width: 2%;
        height: 100%;
        /*background-color: goldenrod;*/
        background-color: #fff;
        float: left;
        line-height: 30px;
        text-align: center;
    }

    #l_mark {
        writing-mode: vertical-rl;
    }

    #r_mark {
        float: right;
        writing-mode: vertical-rl;
    }

    /*bookmark end*/

    header {
        width: 100%;
        height: 200px;
        /*background-color: lightblue;*/
        background-color: rgba(255, 255, 255, 0.5);
        float: left;
        position: fixed;
        z-index: 99;
         transition-duration: 3s;
    }

    #in_header {
        display: none;
    }

    #h_menu_wrap {
        display: none;
    }

    .in_header {
        width: 100%;
        float: left;
       
    }

    #top_in_header {
        height: 100px;
        /*background-color: cadetblue;*/
         transition-duration: 3s;
    }

    #menu_wrap {
        width: 55%;
        height: 30px;
        /*background-color: gold;*/
        float: left;
        margin-top: 35px;
        margin-left: 30px;
    }

    .top_menu {
        width: 13%;
        height: 100%;
        float: left;
        /*background-color: coral;*/
        margin-right: 1.285%;
        text-align: center;
        font: 18px/30px '';
        transition-duration: 0.5s;
    }

    .sub_menu {
        width:
            /*1200px*/
            62.5%;
        height: 0px;
        background-color: gainsboro;
        overflow: hidden;
        transition-duration: 0.5s;
        position: absolute;
        top: 80px;
        left:
            /*20px*/
            1%;
    }

    .sub_menu > li {
        width:
            /*150px*/
            12.5%;
        height: auto;
        /*        background-color: gray;*/
        float: left;
        font-size: 15px;
        transition-duration: 0.5s;
    }

    .top_menu:hover > .sub_menu {
        height: 15%;
    }

    .sub_menu > li:hover {
        background-color: gray;
    }

    .sub_menu > li:hover > a {
        color: aliceblue;
    }


    #side_menu {
        width:
            /*500px*/
            26.041%;
        height: 50px;
        /*background-color: bisque;*/
        float: right;
        margin-top: 25px;
        text-align: center;

        margin-right: 30px;
    }

    #nagasaki {
        width: 60%;
        height: 100%;
        font-size: 18px;
        line-height: 50px;
        border: 1px solid gray;
        box-sizing: border-box;
        background-color: #fff;
    }

    #side {
        width: 40%;
        height: 50%;
        text-align: center;
        font-size: 15px;
        margin-top: 12.5px;
        line-height: 25px;
        color: #505050;
    }

    .side {
        width: 50%;
        height: 100%;
        /*background-color: lightcoral;*/
        float: left;
    }

    .side:first-child {
        border-right: 1px solid black;
        box-sizing: border-box;
    }

    #side_menu > li {
        float: left;
        /*background-color: pink;*/
    }

    #search_wrap {
        width: 100%;
        height: 1080px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    #search_con {
        width: 100%;
        height: 300px;
        background-color: #fff;
        float: left;
        margin-top: 100px;
    }

    #search_box {
        width:
            /*400px*/
            20.833%;
        height: 50px;
        /*background-color: pink;*/
        margin: 100px auto;
    }

    #search {
        width:
            /*300px*/
            75%;
        height: 50px;
        /*background-color: aqua;*/
        float: left;
    }

    #search > input {
        width: 100%;
        height: 70%;
        margin-top: 2%;
        float: left;
        display: block;
    }

    #click_search {
        width:
            /*80px*/
            20%;
        height: 30px;
        background-color: gray;
        float: left;
        margin-top: 10px;
        margin-left: 5%;
        line-height: 30px;
    }

    #close_search {
        width: 50px;
        height: 50px;
        background-color: gray;
        position: absolute;
        top: 375px;
        right: 50px;
        border-radius: 50%;
    }

    #close_search span {
        display: inline-block;
        width: 30px;
        height: 30px;
        /*background-color: aqua;*/
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
    }


    #close_search span:after {
        width: 130%;
        height: 130%;
        display: block;
        content: "";
        position: absolute;
        top: -18px;
        left: -22px;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
    }

    #close_search span:before {
        width: 130%;
        height: 130%;
        display: block;
        content: "";
        position: absolute;
        top: -18px;
        left: 6px;
        border-bottom: 1px solid #fff;
        transform: rotate(45deg);
    }

    #bottom_in_header {
        height: 100px;
        /*background-color: skyblue;*/
    }

    #logo_txt {
        width:
            /*200px*/
            13.888%;
        height: 100%;
        /*background-color: pink;*/
        float: left;
        margin-left: 30px;
    }

    #logo_txt > img {
        width: 90%;
        margin-top: 5%;
    }

    #logo_sym {
        width:
            /*300px*/
            20.8333%;
        height: 100%;
        /*background-color: lightpink;*/
        margin: 0 auto;
    }

    #logo_sym > img {
        margin: 0 auto;
    }

    /*header end*/

    #in_header {
        width: 100%;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.5);
        float: left;
        position: fixed;
        z-index: 99;
        display: none;
        transition-duration: 0.5s;
    }

    #ham {
        width:
            /*40px*/
            2%;
        height: 40px;
        /*background-color: #fff;*/
        float: left;
        margin: 25px 30px;
        position: relative;
    }

    #ham span {
        width: 100%;
        height: 2px;
        background-color: #000;
        display: block;
        margin-top: 20px;
    }

    #ham span:before {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        content: "";
        position: absolute;
        top: 0;
    }

    #ham span:after {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        content: "";
        position: absolute;
        bottom: 0;
    }

    #logo {
        width:
            /*200px*/
            13.888%;
        height: 100px;
        /*background-color: palevioletred;*/
        margin: 0 auto;
    }

    #logo > img {
        height: 100%;
    }

    #naga {
        width: 20%;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
        border: 1px solid gray;
        box-sizing: border-box;
        background-color: #fff;
        position: absolute;
        top: 25px;
        right:
            /*200px*/
            13.888%;
        text-align: center;
        display: block;
    }
    
    #na{
        display: none;
    }

    /*숨김 메뉴 시작*/
    #h_menu_wrap {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        display: none;
        transition-duration: 0.5s;
    }

    #h_menu {
        width: 30%;
        height: 100%;
        background-color: #fff;
        z-index: 999;
    }

    #h_header {
        width: 90%;
        height: 80px;
        /*background-color: pink;*/
        border-bottom: 1px solid gray;
        float: left;
        margin-left: 5%;

    }

    #h_logo {
        width: 80%;
        height: 100%;
        /*background-color: orange;*/
        float: left;
    }

    #h_logo > img {
        height: 100%;
    }

    #close {
        width: 50px;
        height: 50px;
        /*background-color: orangered;*/
        float: right;
        margin-top: 15px;
    }

    #close span {
        display: inline-block;
        width: 30px;
        height: 30px;
        /*background-color: aqua;*/
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
    }

    #close span:after {
        width: 130%;
        height: 130%;
        display: block;
        content: "";
        position: absolute;
        top: -18px;
        left: -18px;
        border-bottom: 1px solid black;
        transform: rotate(-45deg);
    }

    #close span:before {
        width: 130%;
        height: 130%;
        display: block;
        content: "";
        position: absolute;
        top: -18px;
        left: 10px;
        border-bottom: 1px solid black;
        transform: rotate(45deg);
    }

    #language {
        width: 100%;
        height: 30px;
        /*background-color: aqua;*/
        float: left;
        margin: 30px auto;
    }

    select {
        width: 80%;
        height: 100%;
        /*background-color: greenyellow;*/
        margin: 0 auto;
        display: block;
    }

    #h_search_wrap {
        width: 100%;
        height: 50px;
        /*background-color:crimson;*/
        float: left;
    }

    #h_search_wrap > li:first-child {
        width: 70%;
        height: 50px;
        /*background-color: aquamarine;*/
        float: left;
        margin-left: 10px;
    }

    #h_search_wrap input {
        width: 90%;
        height: 80%;
        margin: 1% auto;
        display: block;
    }

    #h_search_wrap > li:last-child {
        width: 20%;
        height: 30px;
        background-color: gray;
        float: left;
        text-align: center;
        line-height: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }

    #hidden_menu {
        width: 100%;
        height: 400px;
        /*background-color: cornflowerblue;*/
        float: left;
        margin-top: 30px;
    }

    #hidden_menu > li {
        width: 80%;
        height: 30px;
        float: left;
        /*background-color: darkseagreen;*/
        margin-left: 20px;
        margin-top: 20px;
        text-align: left;
        letter-spacing: 5px;
        font-size: 20px;
    }



    /*#in_header end*/

    #section {
        margin: 200px auto;
    }

    #section_1 {
        width: 90%;
        height: auto;
        /*background-color: #394835;*/
        margin-left: 5%;
    }

    #container_1 {
        width: 100%;
        height: auto;
        /*background-color: #396674;*/
    }

    #main_img {
        width: 100%;
        height: auto;
        /*background-color: #949676;*/
        float: left;
    }

    #main_img > img {
        width: 100%;
    }

    #main_text {
        width: 100%;
        height: 400px;
        background-color: #213d7a;
        float: left;
    }

    #action {
        width: 50px;
        height: 50px;
        /*background-color: #000;*/
        display: block;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
    }

    #action span {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-left: 12px;
    }


    #main_text h1 {
        width: 100%;
        height: 100px;
        /*background-color: pink;*/
        font-size: 70px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 100px;
        margin: 100px auto 30px auto;
    }

    #main_text p {
        width: 100%;
        height: auto;
        /*background-color: lightgreen;*/
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        color: #fff;
    }



    /*section_1 end*/


    #section_2 {
        width: 85%;
        height: auto;
        background-color: #b6cae9;
        float: left;
        margin-top: 50px;
        margin-left: 7.5%;
    }

    .container_2 {
        width: 100%;
        height: auto;
        background-color: #fff;
        float: left;
    }

    .topic {
        width: 80%;
        height: 30px;
        /*background-color:peru;*/
        float: left;
        margin: 100px 10% 80px 10%;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
    }


    .topic > span {
        width: 90%;
        height: 100%;
        /*background-color: beige;*/
        display: inline-block;
        position: relative;
        letter-spacing: 12px;
        color: #000;
        font-size: 20px;
        font-weight: 400;
    }

    #topic_2 > span:after {
        width: 43%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        right: 0;
        background: #000;

    }

    #topic_2 > span:before {
        width: 42%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        background: #000;

    }


    .container_2 {
        width: 80%;
        height: auto;
        background-color: #fff;
        float: left;
        margin-bottom: 70px;
        margin-left: 10%;
    }

    .article_img {
        width: 90%;
        height: auto;
        /*background-color: #dfd356;*/
        margin: 30px auto;
    }
    
    .article_img img{
        width: 100%;
        transform: scale(1);
        transition-duration: 0.5s;
    }
    
    .img_2{
        width: 100%;
        overflow: hidden;
    }
    
    .article_img img:hover{
        transform: scale(1.1);
    }
    
    
    .article_text{
        width: 90%;
        height: auto;
        /*background-color: #dfddfa;*/
        margin: 30px auto;
    }
    
    .container_2 span{
        width: 100%;
        height: 30px;
        /*background-color: pink;*/
        font-size: 14px;
        color: #213d7a;
    }
    
    
    .container_2 h1{
        margin:20px 0;
    }
    
    #section_3{
        width: 90%;
        height: auto;
        /*background-color: #546768;*/
        float: left;
        margin-left: 5%;
    }
    
    #topic_3>span:after{
        width: 38%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        right: 0;
        background: #000;
        
    }
    
    #topic_3>span:before{
        width: 37%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        background: #000;
        
    }
    
    .article_con{
        width: 90%;
        height: auto;
        /*background-color:dodgerblue;*/
        margin: 180px auto 0 auto;
    }
    
    .article_con h1{
        width:100%;
        height: 100%;
        /*background-color: aqua;*/
        font-size: 50px;
        text-align: center;
    }
    
    .article_con p{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin:100px 0 150px 0;
    }
    
    #exhibition_container{
        width: 90%;
        height: auto;
        /*background-color: aquamarine;*/
        margin: 0 auto;
    }
    
    .exhibition_con{
        width: 100%;
        height: auto;
        /*background-color: azure;*/
        float: left;
        margin-bottom: 15px;
    }
    
    .art_con{
        width: 50%;
        height: 100%;
        /*background-color: cornflowerblue;*/
        float: left;
    }
    
    .art_con h1{
        width: 60%;
        height: auto;
        /*background-color: powderblue;*/
        margin: 150px auto;
        color: #213d7a;
    }
    
    .art_con span{
        font-size:15px;
        font-weight: 900;
        color: #213d7a;
        display: block;
    }
    
    .art{
        width:100%;
        height: 90%;
        overflow: hidden;
        /*background-color: darkcyan;*/
    }
    
    .art img{
        width: 100%;
        transform: scale(1);
        transition-duration: 0.5s;
    }
    
    .art img:hover{
        transform: scale(1.1);
        transition-duration: 0.5s;
    }
    
    .art_con span{
        width: 80%;
        height: auto;
        position: relative;
    }
    

    /*section_3 end*/

    #section_4 {
        width: 90%;
        height: 900px;
        /*background-color: #432456;*/
        background-color: #b6cae9;
        float: left;
        margin-left: 5%;
        position: relative;
    }

    #topic_4 > span:after {
        width: 38%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        right: 0;
        background: #000;

    }

    #topic_4 > span:before {
        width: 37%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        background: #000;

    }

    #img_wrap {
        width:
            /*1600px*/
            83.333%;
        height: 600px;
        background-color: pink;
        overflow: hidden;
        float: left;
        position: relative;
        top: 0;
        left: 50%;
        margin-left:
            /*-800px*/
            -41.666%;
    }

    #img_container {
        width:
            /*3200px*/
            166.666%;
        height: 600px;
        background-color: #545768;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
    }

    .img_con {
        width:
            /*800px*/
            25%;
        height: 600px;
        background-color: #fff;
        float: left;
        /*        포지션 */
    }


    .img {
        width: 90%;
        height: 70%;
        /*background-color: aqua;*/
        margin: 5%;
        float: left;
        overflow: hidden;
    }

    .img img {
        width: 100%;
    }

    .img_con span {
        width: 90%;
        height: auto;
        margin-left: 5%;
        /*background-color: pink;*/
        font-size: 18px;
        color: #213d7a;
        font-weight: 900;
    }

    .img_con p {
        width: 90%;
        height: auto;
        margin-left: 5%;
        /*background-color: beige;*/
        margin: 10px auto;
    }

    .arrow {
        width: 40px;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.5);


        position: absolute;
    }

    #l_arrow {
        top: 50%;
        left: 0;
        margin-top: -35px;
        z-index: 9;
    }

    #l_arrow span {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        margin: 20px 15px;
    }

    #r_arrow {
        top: 50%;
        right: 0;
        margin-top: -35px;
        z-index: 9;
    }

    #r_arrow span {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin: 20px 2px;
    }


    /*section_4 end*/

    #section_5 {
        width: 90%;
        height: auto;
        /*background-color: #958673;*/
        float: left;
        margin-left: 5%;
    }

    #topic_5 > span:after {
        width: 41%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        right: 0;
        background: #000;

    }

    #topic_5 > span:before {
        width: 40%;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        top: 15px;
        background: #000;

    }

    #container_5 {
        overflow: hidden;
    }

    #tag_container {
        width: 90%;
        height: 50px;
        /*background-color: #543567;*/
        float: left;
        margin: 0 10%;
    }

    #tag_container > li {
        width: 17%;
        height: 100%;
        background-color: #999;
        color: #fff;
        float: left;
        margin: 0 auto;
        font: 18px/50px '';
        text-align: center;
        margin-right: 1%;
    }

    #tag_container a {

        color: #fff;
    }

    #instargram_con {
        width: 90%;
        height: 100px;
        /*background-color: #496743;*/
        float: left;
        margin: 100px 5%;
    }

    #instargram_con > img {
        width: 100%;
    }

    /*section_5 end*/

    #section_6 {
        width: 90%;
        height: auto;
        /*background-color: #d35567;*/
        float: left;
        margin-left: 5%;
    }

    .container_6 {
        width: 90%;
        height: 350px;
        background-color: #b6cae9;
        margin: 0 auto;
    }

    .container_6:last-child {
        height: auto;
        overflow: hidden;
        background-color: #bfbfbf;
        padding: 10px;
        box-sizing: border-box;
    }

    #sns_container {
        height: 80px;
        background-color: #a6a6a6;
        margin: 0 auto;
    }

    #reservation {
        width: 100%;
        height: 50px;
        /*background-color: #d34567;*/
        margin: 50px auto;
        text-align: center;
        color: #535353;
        font: 900 30px/50px '';
        padding-top: 30px;
        box-sizing: border-box;
    }

    #r_text {
        width: 100%;
        height: 100px;
        /*background-color: #876543;*/
        text-align: center;
        color: #535353;
        font-size: 18px;
    }

    #r_more {
        width: 300px;
        height: 50px;
        background-color: #737373;
        margin: 50px auto;
        text-align: center;
        font: 900 20px/50px '';
        color: #fff;
    }

    #sns_con {
        width: 370px;
        height: 50px;
        /*background-color: #456767;*/
        float: right;
        margin: 15px 30px;
    }

    #sns_con > li {
        width: 50px;
        height: 50px;
        /*background-color: #467844;*/
        margin-right: 30px;
        float: left;
    }

    #sns_con > li:last-child {
        margin-right: 0;
    }

    #sns_con img {
        width: 100%;
    }


    .service {
        width: 20%;
        height: 200px;
        background-color: #fff;
        float: left;
        margin: 0 6.5%;
    }

    .service:last-child {
        margin-right: 0;
    }

    .service > h2 {
        float: left;
        margin: 10px;
        font-size: 18px;
    }

    .plus {
        width: 50px;
        height: 50px;
        /*background-color: #fff;*/
        float: right;
        font-size: 50px;
        text-align: center;
        line-height: 50px;
    }

    .service > span {
        float: left;
        margin-left: 10px;
        margin-top: 30px;
        font-size: 14px;
    }

    /*section_6 end*/

    footer {
        width: 100%;
        height: auto;
        /*background-color: #fdaf34;*/
        float: left;
    }

    .in_footer {
        width: 90%;
        /*background-color: #e47643;*/
        margin: 0 auto;
    }

    #f_menu {
        width: 500px;
        height: auto;
        /*background-color: pink;*/
        line-height: 30px;
        margin-left: 50px;
        float: left;
        margin-top: 10px;
    }

    .in_footer:first-child {
        height: 50px;
        border-bottom: 1px solid #737373;
    }

    .in_footer:last-child {
        height: 100px;
        /*background-color: #354573;*/
        margin-top: 50px;
    }

    #f_logo {
        width: 200px;
        height: 90px;
        /*background-color: pink;*/
        float: left;
        margin: 0 50px;
    }

    #f_logo > img {
        width: 100%;
    }

    .copyright {
        display: block;
        width: 50%;
        margin-left: 20%;
        /*background-color: aliceblue;*/
    }

    #top_btn {
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        float: right;
        position: relative;
        bottom:100px;
        right: 100px;
    }


    /*footer end*/



}

/*end*/
